/* ---------- Product Page Gallery ---------- */
.woocommerce div.product div.images .rg-video-wrapper .rg-video-poster {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  background: transparent;
}

.woocommerce div.product div.images .rg-video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.woocommerce-product-gallery {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
}

.woocommerce-product-gallery.images > .flex-viewport {
  aspect-ratio: 4 / 3;
  align-items: center;
  overflow: hidden;
}

.woocommerce-product-gallery .woocommerce-product-gallery__image,
.woocommerce-product-gallery .ast-woocommerce-product-gallery__image,
.woocommerce-product-gallery .flex-control-thumbs li {
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.woocommerce-product-gallery .ast-woocommerce-product-gallery__image.rg-video-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.woocommerce-product-gallery .woocommerce-product-gallery__image img:not(.rg-video-poster):not(.rg-video-thumb-img),
.woocommerce-product-gallery .ast-woocommerce-product-gallery__image:not(.rg-video-thumbnail) img,
.woocommerce-product-gallery .flex-control-thumbs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.woocommerce-product-gallery .woocommerce-product-gallery__image img.rg-video-poster,
.woocommerce-product-gallery .ast-woocommerce-product-gallery__image.rg-video-thumbnail img,
.woocommerce-product-gallery .ast-woocommerce-product-gallery__image.rg-video-thumbnail img.rg-video-thumb-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  display: block;
  background: transparent;
}
